h1{
    background-color: rgb(255, 234, 0);
}

body{
    background-color: rgb(255, 253, 139);
    font-family:fantasy
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.nav-link{
    color:darkorange;
    text-decoration: none;
    font-size: 12px;
    background-color: black;
    border-radius: 10px;
    padding: 10px;
}